//Движок//
Binaries
Intermediate
Build
Content/Paks
DerivedDataCache
LocalDerivedDataCache
Saved
StarterContent
//Движок//


//Visual Studio//
.vscode
*.code-workspace
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
//Visual Studio//

//Wwise//
.cache
*.validationcache
*.wsettings
IncrementalSoundBankData.xml
*.akd
*.prof
.backup
*.log
*.wproj
//Wwise//